body {
	/* width: 100%; */
	display: flex;
	justify-content: center;
	color: #fff;
	background: #edf8e2;

	/* max-width: 1024px; */
	/* margin: 0 auto; */
}

.container-padding50 {
	padding-top: 50px;
}

.container-textinput {
	width: 80%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

.container-button {
	width: 10%;
	display: inline-block;
	padding: 20px;
	background-color: green;
	color: white;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	border: 1px solid green;
	border-radius: 5px;
}

.container-image {
	width: 30%;
	display: block;
	float: left;
	margin-right:3%;
	border-radius:5px;
	border: 5 px;
}

.pag {
	clear: both;
	content: "";
	display: table;
	margin: 0 10px 10px;
  }
  .pag a {
	color: #000000;
	float: left;
	padding: 12px 18px;
	text-decoration: none;
  }
  .pag a.active {
	background-color: #8ebf42;
	color: #ffffff;
  }
  .pag a:hover:not(.active) {
	background-color: #ccc;
  }